#titulo {
    display: flex;
 justify-content: center;
}

.calculadora {
    display: block;
    margin: auto;
    padding: 20px;
    background-color: crimson;
    width: 375px;
    height: 560px;
    border-radius: 20px;
}

.calculadora td button {
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
}

#resultado {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 330px;
    height: 100px;
    background-color: #e0f8e6;
    border-radius: 20px;
    overflow-y: scroll;
}

